
<div>
    <h2>Manager User <br>
    </h2>
    <br>
  </div>
  <table id="example" class="table table-striped table-bordered" >
    <thead class="theadTable">
      <tr>
        <th style="width: 3%;">STT</th>
        <th style="width: 15%;">Tên người dùng</th>
        <th style="width: 17%;">Email</th>
        <th style="width: 18%;">Action</th>
      </tr>
    </thead>
    <tbody>
        <% for( let user of users){ %>
        <tr>
          <td class="centerTD"> <%= user._id %></td>
          <td> <%= user.username %></td>
          <td class="centerTD">
            <%= user.email %>
          </td>
          <td class="bt">
            <form action="/admin/delete-user/<%= user._id %>" method="POST">
                <button type="submit" class="btn btn-primary">delete</button>
            </form> 
            <form action="/admin/edit-user/<%= user._id %>" method="GET">
              <button type="submit" class="btn btn-primary">EDIT</button>
            </form>
          </td>
        </tr>
        <% } %>
    </tbody>
  </table>

<!-- form delete -->

<!-- <div  id="deleteUser" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Có chắc bạn muốn xóa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-footer">
        <button id="btn-delete-user" data-id="" class="btn btn-primary" >Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> 

 <form name="delete-user-form" action="" method="DELETE"></form>  -->

<!-- <Script>
       document.addEventListener('DOMContentLoaded',function(){
         var userID;
         var deleteForm =document.forms["delete-user-form"]
         var btnDeleteUser = document.getElementById('btn-delete-user');
         
        $('#deleteUser').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) ;
            userID = button.data('id') ;
          });
        
          //  console.log(btnDeleteUser);
             btnDeleteUser.onclick =function(){
              deleteForm.action ='delete-user/' + userID + '?_method=DELETE';
              deleteForm.submit();
             }
       });

</Script>  -->
